* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff6cc;
    color: #000000;
    position: relative;
    background-image: url('images/Background.jpeg');
    background-position: center;
    background-size: cover;
    line-height: 1.0;
    text-align: left;
    background-repeat: no-repeat;
}
body.dark-mode {
    background-image: none;
    background-color: #1a1a1a;
}
body::before{
    content: "";
    position:fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,80,0,0.15);
    z-index: -1;
}

h1, h2, h3, p, label{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
main{
    padding: 0 20px;
}

/*header */

header {
    background-color: #830808;
     opacity: 79%;
    padding: 20px 40px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
    color:#ffc252;
    text-shadow: 2px 2px 0 black;
}
/*nav*/
nav {
    background-color: #ED9367;
    padding: 8px 18px;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 20px;
}
nav li {
    display: inline-flex;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #2e0c04;
    padding: 7px 11px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
    color: white;
}
/* Responsive navigation*/
@media(max-width: 768px) {
header {
    flex-direction: column;
    align-items: flex-start;
}
nav ul {
    flex-direction: column;
    gap: 10px;
}
nav li{
    margin: 5px 0;
}
}

@media(max-width: 480px) {
h1 {
  font-size: 1.5rem; 
}
nav a{
    font-size: 0.9rem;
    padding: 4px 7px;
}
}
/*general footer design*/
footer {
    background-color: #830808;
    opacity: 79%;
    color: #f4f1e0;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 0 0 15px 15px;
}

/*images */
.flex-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px 0;
    flex-wrap: wrap;
}

/*images*/
.flex-section img{
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

.flex-section article {
    width: 50%;
}

/* responsiveness*/
@media (max-width: 768px) {
    .flex-section img, 
    .flex-section article {
        width: 100%;
    }
}
/*Home intro section*/
.intro-section {
    padding: 0 20px;
    text-align: left;
    margin: 30px 0;
    gap: 20px;
    align-items: center;
    display: flex;
}

.intro-section img {
    width: 45%;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.intro-text {
    width: 50%;
}
/*Responsiveness*/
@media (max-width: 768px){
.intro-section {
    flex-direction: column;
}
.intro-img, 
.intro-text {
    width: 100%
}
}
/*festival Intro*/

.festivals-intro {
    text-align: left;
    margin: 30px 0;
    padding: 0 20px;
}

.festivals-intro h3,
.festivals-intro p {
    margin: 10px 0;
    padding: 0;
}
/*Festival Preview*/
.festivals-preview{
    display: flex;
    gap: 20px; /*space between images*/
    flex-wrap: wrap;
    justify-content: center;
}

/*figure*/
.festivals-preview figure {
    text-align: center;
    flex: 0 1 30%;
    max-width: 30%;
    text-align: center;
    /*min-width: 200px;
    aspect-ratio: 4/3; */
}
.festivals-preview img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.festivals-preview figcaption {
    font-weight: bold;
    font-size: 1rem; 
    margin-top: 5px;
    text-align: center;
}

/*responsiveness*/
@media (max-width: 768px){
    .festivals-preview figure {
        flex: 1 1 100%;
    }
}
@media (max-width: 480px) {
    .festivals-preview figure {
        flex: 1 1 100%;
    }
}
/*contact css*/
.contact-form {
    background-color: rgba(241, 185, 159, 0.9);
    border: 2px solid #61060b;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 30px auto;
}
.contact-form h1, label {
    text-align: center;
    color: #bb4111;
    font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.contact-form button {
    width: 100%;
    background-color: #df1203;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
}
.contact-form button:hover {
    background-color: rgb(253, 188, 48);
}

/*End of Home Css*/

/*start of lantern css*/
.lantern-top {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    margin: 20px 0;
}

.lantern-image {
    text-align: center;
    width: 45%;
}

.lantern-image img{
    width: 75%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    border-radius: 12px;
}

.riddle-box {
    width: 45%;
    margin-top: 20px;
  background-color: rgba(243, 188, 162, 0.9);
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    align-self: center;
}

.riddle-box h2 {
    margin-top: 0;
    text-align: center;
    color: #3f1100;
}

#riddle-btn {
    display: block;
    padding: 10px;
    border: none;
    color: rgb(39, 28, 12);
    width: 100%;
    font-weight: bold;
    border-radius: 8px;
}

#riddle-btn:hover {
    background-color: #ec8c0e;
}

.lantern-about {
    margin-top: 20px;
    padding: 20px;
    background: rgba(252, 178, 118, 0.7);
    border-radius: 10px;
}
/* end of lantern */

/*start of spring*/
.spring-top{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
}

.spring-image {
    width: 45%;
}
.spring-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.spring-about{
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    background-color: rgba(241, 185, 159, 0.9);
}
@media (max-width: 768px) {
    .spring-top {
        flex-direction: column;
        align-items: center;
    }
    .spring-image, .spring-about {
    width: 90%;
}
}
/* end of spring*/
/*start of autumn*/
.autumn-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
}
.autumn-top {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}
.autumn-images {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}
.autumn-images img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.autumn-images figcaption {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    font-size: 0.9rem;
}
/*text content*/
.autumn-about {
    padding: 20px;
    border-radius: 12px;
    text-align: justify;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    background-color: rgba(231, 177, 151, 0.9);
}
/*funfact*/
.autumn-funfact {
    margin: 30px auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    background-color: rgba(245, 189, 116, 0.884);
}
#funfact-btn {
    display: block;
    padding: 10px;
    margin: 15px auto 0 auto;
    border: none;
    border: 8px;
    width: 50%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: #fdb021;
}
#funfact-btn:hover {
    background-color: #d47c00;
}

@media(max-width: 768px) {
    .autumn-top {
        flex-direction:column;
        align-items: center;
    }
    .autumn-images, .autumn-about {
        width: 70%;
    }
    #funfact-btn {
        width: 70%;
    }
}
@media(max-width: 480px) {
    .autumn-funfact{
        padding: 15px;
    }
    #funfact-btn {
        width: 80%;
    }
}
/*additional contact css*/
.contact-top {
    display:flex;
    gap: 30px;
    margin: 30px 20px;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    text-align: justify;
}

@media (max-width: 768px) {
    .contact-top {
        flex-direction: column;
        align-items: center;
    }
    .contact-form, .contact-info {
        width: 90%;
    }
}

/* JS CSS Part here for dark mode button*/
body.dark-mode {
    background-color: #3d1a1a;
    color: #f0f0f0
}
body.dark-mode header {
    background-color: #1e1e1e;
}
body.dark-mode nav {
    background-color: #2c2c2c;
}
body.dark-mode nav a {
    color: #ffffff;
}
body.dark-mode footer {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

body.dark-mode .intro-section img,
body.dark-mode .festivals-preview img,
body.dark-mode .spring-image img,
body.dark-mode .autumn-images img,
body.dark-mode .lantern-image img {
    filter: brightness(0.8);
}

#dark-mode-btn {
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}